.group-label {
  margin-top: 0;
  margin-bottom: 0;
}


.subject-label-text {
  margin-top: 0;
  margin-bottom: 16px; /* Default for all browsers */
}

.label {
  margin-top: 16px;
  margin-bottom: 0px
}

.required-label {
  margin-bottom: 4px;
}

@-moz-document url-prefix() {
  .subject-label-text {
    margin-top: 0;
    margin-bottom: 0px; /* Default for all browsers */
  }
  .required-label-text {
    /* margin-top: 24px; */
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .label {
  margin-top: 16px;
  margin-bottom: 0px;
}
}